body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

/* NAV BAR*/

nav{
    height: 6vh;
    background-color: #00d8a2;
    color: #006cd8;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .logo {
      display: inline-block;
      width: 30%;
      height: inherit;
      margin-left: 1%;
}
nav img{
   width: 22px;
   margin-top: 5px;
}
h1{
  width: 30%;
  display: inline-block;
  font-size: 1em;
  margin-left:1px;
}
.menu{
    float: right;
    display: inline-block;
    width:30%;
    height: inherit;
}
.menu i {
    font-size: 1.5em;
    position: absolute;
    right: 13px;
    top: 6px;
    cursor: pointer;
}
.menu ul{
  display: none;
  list-style-type: none;
}
.menu input{
  display: none;
}


/*PRINCIPAL*/

.principal {
  background-color: #f2f2f2;
}

.principal section {
  background-color: #d9d9d9;
  width: 90%;
  margin: 0 auto;
}

.principal h2 {
  font-size: 2rem;
  text-align: center;
  color: #006cd8;
  padding: 70px;
  margin-top: 0;
}

.q_img {
  display: inline-block;
  background-color: #00d8a2;
  border-radius: 50%;
  width: 75px;
  font-size: 3rem;
  padding: 20px;
  text-align: center;
  margin-left: 35px;
}

.pregunta h3 {
  display: inline-block;
  color: #ffffff;
  font-size: 2rem;

}

.texto {
  font-size: 1.5rem;
  display: block;
  width: 90%;
  margin-left: 35px;
  line-height: 3rem;
}

.texto p {
  text-align: justify;
  color: #404040;
 }

/*FOOTER*/
footer{
  background-color: #565656;
  color: #d9d9d9;
  padding: 7.5% 10px;
}
footer ul{
  list-style-type: none;
}
footer ul li{
  display: inline-block;
  margin-right: 2%;
  font-size: 1em;
}
.redesfoot{
  margin: 5% 0;
  display: block;
}
.redesfoot li{
  font-size: 3em;
  margin-right: 3%;
}

@media (min-width: 768px) {
  /* NAV BAR*/

  nav{
      height: 12vh;
      background-color: #00d8a2;
      color: #006cd8;
      padding: 0 10px;
      box-sizing: border-box;
    }
    .logo {
        display: inline-block;
        width: 30%;
        height: inherit;
        margin-left: 2%;
  }
  nav img{
     width: 40px;
     margin-top: 14px;
  }
  h1{
    width: 30%;
    display: inline-block;
    font-size: 2em;
    margin-left:1px;
  }
  .menu{
      float: right;
      display: inline-block;
      width:30%;
      height: inherit;
  }
  .menu i {
      font-size: 2.5em;
      position: absolute;
      right: 25px;
      top: 15px;
      cursor: pointer;
  }
  .menu ul{
    display: none;
    list-style-type: none;
  }
  .menu input{
    display: none;
  }

/*PRINCIPAL*/

.principal {
  background-color: #f2f2f2;
}

.principal section {
  background-color: #d9d9d9;
  width: 90%;
  margin: 0 auto;
}

.principal h2 {
  font-size: 2rem;
  text-align: center;
  color: #006cd8;
  padding: 70px;
  margin-top: 0;
}

.q_img {
  display: inline-block;
  background-color: #00d8a2;
  border-radius: 50%;
  width: 75px;
  font-size: 3rem;
  padding: 20px;
  text-align: center;
  margin-left: 35px;
}

.pregunta h3 {
  display: inline-block;
  color: #ffffff;
  font-size: 2rem;

}

.texto {
  font-size: 1.5rem;
  display: block;
  width: 90%;
  margin-left: 35px;
  line-height: 3rem;
}

.texto p {
  text-align: justify;
  color: #404040;
 }

  /* footer*/
  footer{
    background-color: #565656;
    color: #d9d9d9;
    padding: 1.5% 10px;
  }
  footer ul{
    list-style-type: none;
  }
  footer ul li{
    display: inline-block;
    margin-right: 2%;
    font-size: 1.6em;
  }
  .redesfoot{
    margin: 0.5% 0;
    display: block;
  }
  .redesfoot li{
    font-size: 4em;
    margin-right: 3%;
  }
}

@media (min-width: 1024px) {
  /* NAV BAR*/

  nav{
      height: 7vh;
      background-color: #00d8a2;
      color: #006cd8;
      padding: 0 10px;
      box-sizing: border-box;
    }
    .logo {
        display: inline-block;
        width: 30%;
        height: inherit;
        margin-left: 2%;
  }
  nav img{
     width: 25px;
     margin-top: 8px;
  }
  h1{
    width: 30%;
    display: inline-block;
    font-size: 1.3em;
    margin-left:1px;
  }
  .menu{
      float: right;
      display: inline-block;
      width:30%;
      height: inherit;
  }
  .menu i {
      font-size: 2.5em;
      position: absolute;
      right: 25px;
      top: 15px;
      cursor: pointer;
      display: none;
  }
  .menu ul{
    display: inline-block;
    list-style-type: none;
    width: 100%;
  }
  .menu ul li{
    display: inline-block;
    margin-right: 3%;
  }
  .menu input{
    display: none;
  }

  .principal {
  background-color: #f2f2f2;
}

.principal section {
  background-color: #d9d9d9;
  width: 90%;
  margin: 0 auto;
}

.principal h2 {
  font-size: 2rem;
  text-align: center;
  color: #006cd8;
  padding: 70px;
  margin-top: 0;
}

.q_img {
  display: inline-block;
  background-color: #00d8a2;
  border-radius: 50%;
  width: 75px;
  font-size: 3rem;
  padding: 20px;
  text-align: center;
  margin-left: 35px;
}

.pregunta h3 {
  display: inline-block;
  color: #ffffff;
  font-size: 2rem;

}

.texto {
  font-size: 1.5rem;
  display: block;
  width: 90%;
  margin-left: 35px;
  line-height: 3rem;
}

.texto p {
  text-align: justify;
  color: #404040;
 }

/* footer*/
  footer{
    background-color: #565656;
    color: #d9d9d9;
    padding: 1.5% 10px;
  }
  footer ul{
    list-style-type: none;
  }
  footer ul li{
    display: inline-block;
    margin-right: 0.5%;
    font-size: 1.2em;
}
  .redesfoot{
    margin: 0.5% 0;
    display: block;
  }
  .redesfoot li{
    font-size: 2em;
    margin-right: 1%;
  }